<div class="jumbotron">
  <h1>ScrumGit<br></h1>
  <p class="lead">Scrum + <i class="icon-github"></i> GitHub = PROFIT</p>
  <p><a class="btn btn-primary btn-lg" href="#">See demo</a></p>or
  <p><a class="btn btn-lg btn-success" href="/auth/github">Sign In with GitHub</a></p>
</div>