
<ul class="list-group">
  <li class="list-unstyled">
    <h1><i class="icon-user"></i> Personal</h1>
    <ul class="list-inline">
      <li>
        <a href="/planning"><h3><span class="label label-default"><i class="icon-github"></i> Repository #1</span></h3></a>
      </li>
      <li>
        <h3><span class="label label-default">Repository #2</span></h3>
      </li>
      <li>
        <h3><span class="label label-default">Repository #3</span></h3>
      </li>
    </ul>
  </li>
  <li class="list-unstyled">
    <h1>Corvus Alba</h1>
    <ul class="list-inline">
      <li>
        <h3><span class="label label-default">Rails Rumble</span></h3>
      </li>
      <li>
        <h3><span class="label label-default">Rumble Preparations</span></h3>
      </li>
      <li>
        <h3><span class="label label-default">Repository #3</span></h3>
      </li>
    </ul>
  </li>
  <li class="list-unstyled">
    <h1>Google</h1>
    <ul class="list-inline">
      <li>
        <h3><span class="label label-default">Repository QWEWT</span></h3>
      </li>
      <li>
        <h3><span class="label label-default">Repository #2</span></h3>
      </li>
      <li>
        <h3><span class="label label-default">Repository #3</span></h3>
      </li>
    </ul>
  </li>
</ul>