<script src="js/projectviewmodel.js" type="text/javascript"></script>

<% content_for :breadcrumbs do %>
  <li class="active">
    Project Name
  </li>
<% end %>

<div class="row">
  <div class="col-md-10">
    <a class="btn btn-primary">Add Iteration</a>
  </div>
  <div class="col-md-1">
    <a class="btn btn-primary pull-right" style="margin:5px">Add Feature</a>
  </div>
  <div class="col-md-1">
    <a class="btn btn-primary pull-right" style="margin:5px">Add Bug</a>
  </div>
</div>
<ul class="list-group">


    <li class="list-group-item">
      <h1>Unassigned</h1>
      <ul class="list-unstyled">
        <li>
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="box userstory">
                <div class="row">
                  <div class="col-md-8">
                            <span>
                              As a user, I want to drag&drop user stories because it is cool.
                            </span>
                  </div>
                  <div class="col-md-4">
                    <div class="btn-group pull-right btn-group-xs">
                      <a class="btn btn-default">Edit</a>
                      <a class="btn btn-default">Delete</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="box bug">
                <div class="row">
                  <div class="col-md-8">
                            <span>
                              Can't drag&amp;drop user story.
                            </span>
                  </div>
                  <div class="col-md-4">
                    <div class="btn-group pull-right btn-group-xs">
                      <a class="btn btn-default">Edit</a>
                      <a class="btn btn-default">Delete</a>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </li>
      </ul>
    </li>

</ul>