<% content_for :scripts do %>
    <script src="../js/projectviewmodel.js" type="text/javascript"></script>
<% end %>

<% content_for :breadcrumbs do %>
  <li class="active">
    Project Name
  </li>
<% end %>

<% content_for :modals do %>
    <%= erb :iterationModal_partial, :layout => false %>
<% end %>


<div class="row">
  <div class="col-md-10">
    <button class="btn btn-primary" data-toggle="modal" data-target="#iterationModal">Add Iteration</button>
  </div>
  <div class="col-md-1">
    <a class="btn btn-primary pull-right" style="margin:5px">Add Feature</a>
  </div>
  <div class="col-md-1">
    <a class="btn btn-primary pull-right" style="margin:5px">Add Bug</a>
  </div>
</div>
<ul class="list-group" data-bind="value: iterations">

    <li class="list-group-item">
      <h1>
        <div class="row">
          <div class="col-md-6">
            <a href="#" data-bind="text: title"></a>
          </div>
          <div class="col-md-5">
            <a class="btn btn-default dropdown-toggle pull-right" data-toggle="dropdown" href="#" data-bind="text: due-on">
              <span class="caret"></span>
            </a>
          </div>
          <div class="col-md-1">
            <div class="btn-group btn-group-xs">
              <a class="btn btn-default btn-info">E</a>
              <a class="btn btn-default btn-danger">D</a>
            </div>
          </div>
        </div>
      </h1>
      <ul class="list-unstyled" data-bind="foreach: children ">
        <li>
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="box" data-bind="css: { bug: type() === 'bug', feature: type() == 'feature' }">
                <div class="row">
                  <div class="col-md-8">
                            <span data-bind="text: title">
                            </span>
                  </div>
                  <div class="col-md-4">
                    <div class="btn-group pull-right btn-group-xs">
                      <a class="btn btn-default">Edit</a>
                      <a class="btn btn-default">Delete</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </li>
</ul>